// Placeholder for reused button styles
%btn {
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
    padding: 0.25em 0.75em;
    min-width: 10ch;
    min-height: 44px;
    text-align: center;
    line-height: 1.1;
    transition: 220ms all ease-in-out;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

body {
    background-color: #b9b9b9;
}

body,
input,
button {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;

    .navigation {
        flex-basis: 10%;
    }

    .questions {
        flex-basis: 80%;
    }

    &-child {
        &.full-width {
            flex-basis: 100%;
            text-align: center;
        }
    }
}

.navigation,
.questions {
    height: 70vh;
    margin: 3rem 0;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
}

.navigation {
    width: 50px;
    margin-right: 2rem;
    background-color: #e4e4e4;
}

.questions {
    background-color: #e4e4e4;
}

.results {
    .btn-results {
        @extend %btn;
        font-size: 28px;
        background-color: #2b2b2b;
        color: #fff;
    }
}

.btn-next {
    float: right;
}

.btn-back, .btn-next {
    @extend %btn;
    font-size: 16px;
    background-color: #7c7c7c;
    color: #fff;
    margin: 1rem;
}

.question-box {
    position: absolute;
    height: inherit;
    width: 80%;

    .question {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50%;
        font-size: 28px;
    }
}

.nav-box {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;

    &:hover {
        background-color: #7c7c7c;
        color: #fff;
        cursor: pointer;
    }

    & > span {
        font-size: 20px;
        font-weight: bold;
    }
}

.answers {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;

    .answer {
        text-align: center;
        align-items: center;

        & > span {
            font-size: 20px;
            padding: 10%;
            transition: 0.2s;

            &:hover {
                background-color: #7c7c7c;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}
